<form #form="ngForm" (ngSubmit)="submit(form)">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Cadastro de produto</h4>
        <button type="button" class="close" aria-label="Close" (click)="close()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-sm-12 form-group">
                <span>Nome:</span>
                <input type="text" class="form-control" [(ngModel)]="dados.nome" name="nome">
            </div>
            <div class="col-sm-4 form-group">
                <span>Valor de custo:</span>
                <input currencyMask  type="text" class="form-control" [(ngModel)]="dados.valor_custo" name="valor_custo">
            </div>
            <div class="col-sm-4 form-group">
                <span >Preço:</span>
                <input currencyMask type="text" class="form-control" [(ngModel)]="dados.valor_venda" name="valor_venda">
            </div>
            <div class="col-sm-4 form-group">
                <span>Status:</span>
                <select class="form-control" [(ngModel)]="dados.status" name="status"> 
                    <option value="1">Ativo</option>
                    <option value="0">Inativo</option>

                </select>
            </div>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" (click)="close()">Voltar</button>
        <button type="submit" class="btn btn-primary">Salvar</button>

    </div>
</form>