<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Produtos</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      
        <button class="btn btn-primary" (click)="open()">
            <i class="fas fa-pen"></i> Novo Produto
        </button>
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
            <th>#</th>
            <th>Nome</th>
            <th>Preço</th>
            <th>Status</th>
            <th>
                

            </th>
        </thead>
        <tbody>
            <tr *ngFor="let item of datasource">
                <td>{{item.id}}</td>
                <td>{{item.nome}}</td>
                <td>{{item.valor_venda}}</td>
                <td scope="col">
                    <span *ngIf="item.status == 0 ">Inativo</span>
                    <span *ngIf="item.status == 1 ">Ativo</span>
                </td>
                <td>
                    
                    <button class="btn btn-sm btn-primary mr-1" (click)="open(item)"><i class="fas fa-pen"></i></button>
                    <button class="btn btn-sm btn-danger"(click)="deleteConfirm(item)"><i class="fas fa-trash"></i></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>